html {
  height: 100%;
}

body{

  margin: 0px;

  font-family: Arial;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: -2px 0px 4px grey, 0px 2px 4px grey, 2px 0px 4px grey, 0px -2px 4px grey;
}


.header {
  font-size: 40px;
  padding: 30px;
  margin-top: 20px;
  color: white;
}

.temp {
  font-size: 160px;
  margin: 8% auto 20px auto;
  text-shadow: -2px 0px 4px grey, 0px 2px 4px grey, 2px 0px 4px grey, 0px -2px 4px grey;
}

.transparent {

  background-color: white;
  border-radius:3px;
  padding: 10px 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.wrap{
height:auto;
width:500px;
margin: auto;
}

.city{
float:left;
width:60%;
height:100%;
}
.sky{
height:100%;
margin-left:62%;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.changetemp:hover {
  cursor: pointer;
}